<app-create (addContentEvent)="addContentToList($event)" (updateContentEvent)="updateContentToList($event)">
</app-create>

<form onsubmit="return false;">
    <mat-form-field appearance="fill">
        <mat-label>Enter Title</mat-label>
        <input matInput #checkTitle>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="checkIfTitleExists(checkTitle.value)">Does it
        exist?</button>
</form>
<div class="title-check">
    {{ message }}
</div>

<app-content-card appHoverCard [borderVisible]="isLast || isFirst"
    *ngFor="let song of musicList; last as isLast; first as isFirst" [class.is-last]="isLast" [song]="song"
    [class.highlight-me]="checkTitle.value === song.title">
</app-content-card>
<!-- 
<app-content-card appHoverCard [borderVisible]="isLast || isFirst"
    *ngFor="let song of musicList | typeFilter: 'metal'; last as isLast; first as isFirst" [class.is-last]="isLast"
    [song]="song" [class.highlight-me]="checkTitle.value === song.title" class="metal">
</app-content-card>

<app-content-card appHoverCard [borderVisible]="isLast || isFirst"
    *ngFor="let song of musicList | typeFilter: 'power metal'; last as isLast; first as isFirst"
    [class.is-last]="isLast" [class.highlight-me]="checkTitle.value === song.title" [song]="song" class="power-metal">
</app-content-card>

<app-content-card appHoverCard [borderVisible]="isLast || isFirst"
    *ngFor="let song of musicList | typeFilter: 'Pop'; last as isLast; first as isFirst" [class.is-last]="isLast"
    [song]="song" class="pop" [class.highlight-me]="checkTitle.value === song.title">
</app-content-card> -->